{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jquery": true,
        "meteor": true,
        "mongo": true,
        "jasmine": true
    },
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "globals": {
      "inject": false,
      "angular2now": false
    },
    "rules": {
        "camelcase": 1,
        "semi": 1,
        "indent": [
            "error",
            4
        ],
        "no-console": 0
    }
}
