div.formly-field-datepicker .validation-messages {
    font-size: 0.75em;
    color: #dd2c00;
    margin: 0px 0 0 65px;
}
div.formly-field-datepicker .description,
div.formly-field-datepicker label {
    margin: 0px 0 0 65px;
}
